#reviews {
  padding-top: 30px;
}

#fundamentals {
  padding-top: 10px !important;
}

/*============menu burger========*/

/*===================HEADER==============*/
body {
  margin: 0;
  padding: 0;
}
header {
  width: 100%;

  height: 700px;
  opacity: 0;
  transform: translate3d(-50px, 0, 0);
}

.header-active {
  background-color: #000000;
  opacity: 1;
  font-family: "Permanent Marker", cursive;
  transition: 2s ease all;
  transform: translate3d(0, 0, 0);
}

.square2 {
  position: absolute;
  top: 0;
  left: 10%;
  width: 5%;
  height: 270px;
  border-radius: 50%;
}

.square {
  position: absolute;
  top: 30%;
  left: 10%;
  width: 5%;
  height: 270px;
  border-radius: 50%;
}

.square3 {
  position: absolute;
  top: 72%;
  left: 4.6%;
}

header img {
  margin-left: 16%;
}

.header-p {
  font-size: 50px;
  font-family: "Roboto", sans-serif;

  color: white;
  text-transform: uppercase;
  position: absolute;
  top: 15%;
  right: 5%;
  width: 40%;
}

.line {
  color: white;
  width: 0.1%;
  height: 400px;
  background-color: rgb(4, 0, 128);
  position: absolute;
  right: 47%;
}

.social {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 40%;
  top: 50%;
}

.social img:hover {
  transform: translateY(10px);
}
.header-arrow {
  position: absolute;
  top: 63%;
  right: 20%;
  cursor: pointer;
}

.brand {
  cursor: pointer;
}

/*===================NAV==============*/
nav {
  z-index: 14;
  width: 100% !important;
  display: flex;
  height: 90px;
  flex-direction: row;
  font-family: "Barlow";
  font-size: 18;
  display: flex;
  justify-content: space-around;
  background-color: #000000;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
}

.brand {
  font-size: 30px;
}
nav ul {
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  background-color: #000000;
}

nav ul li {
  padding-left: 3%;
  list-style: none;
  background-color: #000000;
}
nav ul li a {
  margin-top: 2%;
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: background-color 2s ease-out 100ms;
  padding: 10px;
}

a:hover {
  background-color: rgb(137, 253, 253);

  color: rgb(0, 0, 0);
}
nav p {
  font-weight: 900;

  color: white;
  text-transform: lowercase;
}

.likeButton {
  background-color: #0c7eb76e;
  border: 3px solid #1f88bc6e;
  padding: 7px 25px;
  border-radius: 10px;
  color: white;
  opacity: 0.9;
  margin-bottom: 10% !important;
}

nav ul li .active {
  padding-top: 7px;
  color: #c0dceb;
  border-bottom: 3px solid #c0dceb;
}

/*===================MAIN==============*/
section {
  opacity: 0;
  transform: translate3d(-50px, 0, 0);
}

.part {
  opacity: 1;
  transition: 2s ease all;
  transform: translate3d(0, 0, 0);
}
main {
  background-color: #ffffff;
  max-width: 100% !important;
  scroll-behavior: smooth;
}

/*===================PART1==============*/

.part1 {
  text-align: center;
  padding-top: 2%;
  height: 40vh;
  background-color: #ffffff;
}
.textPart1 p {
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  width: 80%;
  padding-left: 10%;
  text-align: center;
  line-height: 110px;
}

.quotation1 {
  position: absolute;
  left: 4%;
}

.quotation2 {
  position: absolute;
  right: 25%;
  top: 45%;
}
/*===================PART2==============*/
.part2 {
  max-width: 100% !important;
  height: 850px;
  background-color: #000000;
  padding-top: 6%;
  z-index: 10;
}

.imgTrust {
  cursor: pointer;
}
.imgTrust:hover {
  transform: translateY(-20px);
}
.all {
  max-width: 100%;
  margin-left: 10%;
  background-color: #000000;
  display: flex;
  flex-direction: row;
  color: white;
}
.tigers {
  height: 450px;
  padding-top: 90px;
  margin-left: 6%;
  background-color: #000000;

  background-image: url("images/tiger-1285229_1280\(1\).jpg");

  background-size: 20%;
  width: 38%;
  position: relative;
}

.textPart2 {
  margin-top: -3%;
}
.textPart2 h2 {
  font-family: "Nunito", sans-serif;
  color: rgb(204, 204, 238);
  padding-left: 10%;
  font-size: calc(20px + 2vw);
  text-transform: uppercase;
}

.textPart2 p {
  width: 50%;
  line-height: 25px;
  padding-left: 10%;
  font-family: "Roboto", sans-serif;
}

.textPart2 button {
  color: rgb(0, 0, 0);
  background-color: rgb(204, 204, 238);
  border: 1px solid #247eec;
  font-size: 17px;
  opacity: 0.8;
  padding: 1.5%;
  margin-left: 10%;
  border-radius: 10px;
  font-family: "Barlow";
}

.trust h2 {
  text-align: center;
  color: rgb(204, 204, 238);

  padding-top: 2%;
  font-family: "Nunito", sans-serif;
}
.trustCompany {
  width: 100%;
  margin-left: 30%;
}

.trustCompany img {
  padding-right: 6%;
  padding-top: 2%;
}
/*=====PART3====*/

.part3 {
  height: 700px;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  position: relative;
}
.part3 h2 {
  font-size: 35px;
  color: rgb(46, 46, 48);
  font-family: "Roboto", sans-serif;
}

.imgPart3 {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-top: 12%;
  padding-left: 5%;
}
.textPart3 {
  padding-top: 1%;
  padding-left: 3%;
}
.part3 span {
  font-style: bold;
  color: #0d8aff;
}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-left: 7%;
  margin-top: 1.7%;
  color: rgb(46, 46, 48);
  font-family: "Roboto", sans-serif;
}

.list h3 {
  font-size: 25px;
}

.list p {
  font-size: 19px;
}
.item1And2 {
  width: 30%;
}

.item3And4 {
  width: 30%;
  padding-left: 80px;
}

/*===================PART4==============*/

.grid {
  background-color: #000000;
  padding-left: 22%;
  width: 100%;
  display: grid;
  padding-top: 5%;
  padding-bottom: 10%;
  height: 400px;
  gap: 10px;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: 210px 210px 10px;
  grid-template-areas:
    "text-grid1 img-grid2 text-grid2"
    "img-grid1 img-grid2 text-grid2"
    "img-grid1 img-grid2 text-grid2";
}

.text-grid1 {
  grid-area: text-grid1;
  background-color: rgb(255, 255, 255);
  font-family: "Fraunces", serif;
  font-size: 30px;
  text-align: center;
  padding-top: 13%;
  color: rgb(0, 0, 0);
}

.text-grid2 {
  grid-area: text-grid2;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding-left: 5%;
}

.text-grid2 p {
  width: 80%;
  font-family: "Barlow", sans-serif;
  font-weight: 200;
  font-size: 20px;
}
.img-grid1 {
  grid-area: img-grid1;
}

.img-grid2 {
  grid-area: img-grid2;
}
/*===================PART5==============*/
.part5 h2 {
  text-align: center;
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  opacity: 0.8;

  padding-top: 3%;
}

.review1 {
  padding-top: 2%;
}
.allReview {
  display: flex;
  flex-direction: row;
  height: 200px;
  margin-top: 5%;

  background-color: white !important;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.review {
  background-color: rgb(238, 240, 248);
  border-radius: 10px;
  color: rgb(0, 0, 0);
  margin-left: 20px;
  width: 26%;
}
.review img {
  display: inline-block;
  margin-left: 38%;
  width: 15%;
  text-align: center;
  border-radius: 50%;
}

.review p {
  text-align: center;
  width: 60%;
}

.name-review {
  font-weight: bold;
  padding-top: 8%;
}

.review1 {
  padding-top: 2%;
}

#reviews h2 {
  color: rgb(46, 46, 48);
  font-family: "Nunito", sans-serif;
  font-size: 60px;
  width: 10%;
  padding-left: 10% !important;
  text-align: left !important;
  position: relative;
}
.allReview {
  display: flex;
  flex-direction: row;
  height: 300px;
  margin-top: 5%;
  padding-left: 12%;
  background-color: rgba(255, 249, 249, 0.56) !important;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
}

.review img {
  display: inline-block;
  margin-left: 40%;
  margin-top: 5%;
  width: 15%;
  text-align: center;
  border-radius: 50%;
}

.review p {
  text-align: center;
  width: 80%;
  margin-left: 9%;
}

.name-review {
  font-weight: bold;
  padding-top: 8%;
}

.lineReview {
  background-color: rgb(46, 46, 48);
  width: 1%;
  transform: skewY(520deg);
  height: 200px;
  position: absolute;
  top: 20%;
  left: 43%;
}
/*===================FOOTER --- PART6==============*/
footer {
  border-top: 10px solid rgb(46, 46, 48);
  margin-top: 10%;
  width: 100%;
}

.name {
  background-color: rgba(11, 27, 255, 0.577);
  color: white;

  height: 100px;
  text-align: center;
  padding-top: 10px;
  font-size: 24px;
  font-family: "Barlow", sans-serif;
}
.part6 {
  background-color: rgba(0, 0, 0, 0.633);
  padding-bottom: 20px;
  display: flex;
  height: 450px;
  width: 0.2%;
  display: flex;
  flex-direction: row;
  margin-left: 10%;
}

.textPart6 {
  background-color: rgb(255, 255, 255);
}
.imgPart6 {
  padding-top: 100px;
  display: flex;
  flex-direction: row !important;
}

.imgPart6-2 {
  padding-top: 5px;
  padding-left: 12%;

  display: flex;
  flex-direction: row !important;
}

.social3 p {
  line-height: 45px !important;
}

.part6 .bigH3 {
  font-family: "Nunito", sans-serif;
  color: rgba(0, 0, 0, 0.732);
  padding-left: 10%;

  font-size: calc(20px + 4vw);
  text-transform: uppercase;
}

.contact {
  height: 200px;

  padding-left: 20px;
  color: rgb(46, 46, 48);
  font-family: "Nunito", sans-serif;
  font-size: 20px;
}
.contact1 {
  padding-right: 20%;
  border-right: 2px solid black;
}
.social2 {
  display: flex;
  flex-direction: row;
  margin-top: -20%;
}

.imgContact {
  padding-top: 25px;
  padding-left: 6px;
}

.imgFb {
  padding-top: 30px !important;
  padding-left: 6px;
}
.color1 {
  color: blue !important;
}

.image6 {
  position: absolute;
  top: 82%;
  display: flex;
  flex-direction: row;
}

.img1 {
  margin-left: 50px;
  margin-top: 50%;
}

.textFooter h2 {
  font-family: "Barlow";
  color: white;
  text-align: center;
  font-size: 30px;
  padding-top: 15%;
  text-transform: lowercase;
}

/*==IN PROGRESS WARNING===*/

/*==============================================RESPONSIVE IN PROGRESS===============================================*/

@media screen and (min-width: 1150px) and (max-width: 1500px) {
  header img {
    margin-left: 0.4%;
  }

  .header-p {
    font-size: 40px;
    color: white;
    top: 15%;
    right: 5%;
    width: 38%;
  }

  .square {
    top: 30%;
    left: 5%;
    width: 5%;
  }
  .square2 {
    position: absolute;
    left: 5%;
  }
  .square3 {
    top: 72%;
    left: 5%;
  }

  .line {
    width: 0.1%;
    right: 44%;
  }

  .social {
    right: 35%;
    top: 50%;
  }

  .quotation2 {
    position: absolute;
    right: 16%;
    top: 45%;
  }
  .part3 h2 {
    font-size: 35px;
    padding-right: 50px;
    color: rgb(46, 46, 48);
    font-family: "Roboto", sans-serif;
  }
  .imgPart3 {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-top: 12%;
    padding-left: 5%;
  }
  .textPart3 {
    padding-top: 1%;
    padding-left: 3%;
  }
  .part3 span {
    font-style: bold;
    color: #0d8aff;
  }

  .list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: 0.3%;
    margin-top: 1.7%;
    color: rgb(46, 46, 48);
    font-family: "Roboto", sans-serif;
  }

  .list h3 {
    font-size: 25px;
  }

  .list p {
    font-size: 18px;
  }
  .item1And2 {
    width: 50%;
  }

  .item3And4 {
    width: 50%;
    padding-left: 35px;
  }

  .grid {
    padding-left: 14%;
  }

  .lineReview {
    width: 1%;
    top: 15%;
    left: 57%;
  }
}
.mobile-btn {
  overflow: hidden;
}

.mobile-btn .active {
  overflow: visible;
  padding-top: 7%;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .square2 {
    left: 1%;
  }

  .square2 img {
    position: absolute;
    top: 0;
    left: 0%;
    width: 60vw;
    height: 50vh;
  }

  .square {
    display: none;
  }

  .square3 {
    display: none;
  }
  .line {
    color: white;
    width: 0.1%;
    height: 400px;
    background-color: rgb(4, 0, 128);
    position: absolute;
    right: 35%;
  }

  .social {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 22%;
    top: 50%;
  }
  header img {
    margin-left: 16%;
  }

  .header-p {
    font-size: calc(10px + 2vw);
    font-family: "Roboto", sans-serif;

    color: white;
    text-transform: uppercase;
    position: absolute;
    top: 15%;
    right: 0%;
    width: 30%;
  }

  .quotation2 {
    position: absolute;
    right: 3%;
    top: 45%;
  }

  .trust img {
    width: 50px;
  }

  .trust {
    padding-right: 7%;
  }
  /*===PART3 RESPONSIVE====*/
  .imgPart3-1 {
    display: none;
  }

  .part3 {
    height: 920px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .part3 h2 {
    font-size: 35px;
    color: rgb(46, 46, 48);
    font-family: "Roboto", sans-serif;
  }

  .imgPart3 {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-top: 12%;
    padding-left: 5%;
  }
  .textPart3 {
    padding-top: 1%;
    padding-left: 5%;
  }
  .part3 span {
    font-style: bold;
    color: #0d8aff;
  }

  .list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-left: 5%;
    margin-top: 1.7%;
    color: rgb(46, 46, 48);
    font-family: "Roboto", sans-serif;
  }

  .list h3 {
    font-size: 25px;
  }

  .list p {
    font-size: 19px;
  }
  .item1And2 {
    width: 90%;
    padding-left: 5%;
  }

  .item3And4 {
    width: 90%;
    padding-left: 5%;
  }

  /*part 4*/
  .grid {
    padding-left: 5%;
  }

  /*review*/
  .lineReview {
    width: 4%;
    height: 100px;
    top: 6%;
    left: 58%;
  }

  /*FOOTER*/
  .part6 {
    height: 600px;
  }
  .imgPart6 {
    display: flex;
    flex-direction: column;
    width: 60%;
  }

  .imgPart6 .imgAnimal {
    width: 20vw;
    height: 20vh;
    object-fit: contain;
  }

  .imgPart6-2 {
    position: absolute;
    bottom: 10%;
  }

  .imgPart6-2 p {
    font-size: 15px;
    font-weight: bold;
  }

  .bigH3 {
    display: none;
  }
  .contact1 {
    padding-right: 10%;
    border-right: 2px solid rgb(255, 255, 255);
  }

  .contact1 {
    padding-right: 20%;
    border-right: 0px;
  }
}

@media screen and (min-width: 700px) and (max-width: 1000px) {
  .square2 {
    left: 1%;
  }

  .square2 img {
    position: absolute;
    top: 0;
    left: 75%;
    width: 60vw;
    height: 300px;
  }

  .square {
    display: none;
  }

  .square3 {
    display: none;
  }

  header img {
    margin-left: 16%;
  }

  .header-p {
    font-size: 28px;
    top: 35%;
    right: 15%;
    width: 60%;
  }

  .line {
    width: 0.1%;
    height: 250px;
    right: 79%;
    top: 37%;
  }

  .social {
    right: 55%;
    top: 55%;
  }
}

@media screen and (min-width: 300px) and (max-width: 700px) {
  header {
    height: 850px;
    max-width: 100vw;
  }

  main {
    max-width: 100vw !important;
  }
  .disabled {
    display: none;
  }

  .active {
    overflow: visible;
  }
  .mobile-btn {
    padding-top: 7%;
  }

  .square2 {
    left: 1%;
  }

  .square2 img {
    position: absolute;
    top: 0;
    left: 0%;
    width: 93vw;
    height: 270px;
  }

  .square {
    display: none;
  }

  .square3 {
    display: none;
  }

  header img {
    margin-left: 16%;
  }

  .header-p {
    font-size: 28px;
    top: 35%;
    right: 15%;
    width: 60%;
  }

  .line {
    width: 0.1%;
    height: 250px;
    right: 79%;
    top: 37%;
  }

  .social {
    right: 55%;
    top: 55%;
  }

  .header-arrow {
    top: 66%;
    right: 35%;
  }

  /*PART1 RESPONSIVE*/
  .part1 {
    padding-top: 2%;
  }
  .textPart1 p {
    font-size: 30px;
    width: 70%;
    line-height: 40px;
  }

  .quotation1 {
    left: 5%;
    top: 2%;
  }

  .quotation2 {
    right: 15%;
    top: 80%;
  }

  /*====PART2 RESPONSIVE=====*/
  .part2 {
    height: 1350px;
  }
  .trust h2 {
    text-align: center;
    padding-right: 10%;
  }
  .trust {
    margin-top: 6%;
    margin-right: 20%;
  }
  .tigers {
    display: none;
    height: 0;
    width: 0;
  }

  .trust img {
    width: 40px !important;
  }
  /*===PART3 RESPONSIVE====*/
  .imgPart3-1 {
    display: none;
  }

  .part3 {
    height: 1290px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .part3 h2 {
    font-size: 35px;
    color: rgb(46, 46, 48);
    font-family: "Roboto", sans-serif;
  }

  .imgPart3 {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-top: 12%;
    padding-left: 5%;
  }
  .textPart3 {
    padding-top: 1%;
    padding-left: 5%;
  }
  .part3 span {
    font-style: bold;
    color: #0d8aff;
  }

  .list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-left: 5%;
    margin-top: 1.7%;
    color: rgb(46, 46, 48);
    font-family: "Roboto", sans-serif;
  }

  .list h3 {
    font-size: 25px;
  }

  .list p {
    font-size: 19px;
  }
  .item1And2 {
    width: 90%;
    padding-left: 5%;
  }

  .item3And4 {
    width: 90%;
    padding-left: 5%;
  }

  /*=========PART4 RESPONSIVE===*/

  .grid {
    background-color: #000000;
    padding-left: 9%;
    width: 100%;
    display: grid;
    padding-top: 17%;
    padding-bottom: 10%;
    height: 500px;
    gap: 10px;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: 210px 210px 10px;
    grid-template-areas:
      "text-grid1 text-grid1 text-grid1"
      "img-grid1 img-grid1 img-grid1";
  }

  .text-grid1 {
    width: 33%;
    height: 150px;
    grid-area: text-grid1;
    background-color: rgb(255, 255, 255);
    font-family: "Fraunces", serif;
    font-size: 30px;
    text-align: center;
    padding-top: 3%;
    color: rgb(0, 0, 0);
  }

  .img-grid2 {
    display: none;
  }

  .text-grid2 {
    display: none;
  }

  /*========PART5 RESPONSIVE======*/
  .part5 h2 {
    text-align: center;
    text-transform: uppercase;
    font-family: "Fraunces", serif;
    opacity: 0.8;

    padding-top: 3%;
  }

  .review1 {
    padding-top: 2%;
  }
  .allReview {
    display: flex;
    flex-direction: row;
    height: 800px;
    margin-top: 5%;

    background-color: white !important;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
  }

  .review {
    margin-left: 0px;
    width: 90%;
    margin-top: 6%;
  }

  .review p {
    text-align: center;
    width: 60%;
  }

  .name-review {
    font-weight: bold;
    padding-top: 8%;
  }

  .review1 {
    padding-top: 2%;
  }

  #reviews h2 {
    font-size: 30px;
    width: 10%;
    padding-left: 10% !important;
    text-align: left !important;
    position: relative;
  }
  .allReview {
    display: flex;
    flex-direction: column;
    height: 1000px;
    margin-top: 5%;
    padding-left: 12%;
    font-family: "Barlow", sans-serif;
    font-weight: 400;
  }

  .review p {
    text-align: center;
    width: 80%;
    margin-left: 7%;
    font-size: 18px;
  }

  .name-review {
    font-weight: bold;
    padding-top: 8%;
  }

  .lineReview {
    width: 4%;
    height: 100px;
    top: 6%;
    left: 77%;
  }

  /*FOOTER*/
  .part6 {
    height: 600px;
  }
  .imgPart6 {
    display: flex;
    flex-direction: column;
    width: 60%;
  }

  .imgPart6 .imgAnimal {
    width: 20vw;
    height: 20vh;
    object-fit: contain;
  }

  .imgPart6-2 {
    position: absolute;
    bottom: 10%;
  }

  .imgPart6-2 p {
    font-size: 15px;
    font-weight: bold;
  }

  .bigH3 {
    display: none;
  }
  .contact1 {
    padding-right: 10%;
    border-right: 2px solid rgb(255, 255, 255);
  }

  .contact1 {
    padding-right: 20%;
    border-right: 0px;
  }
}

@media screen and (min-width: 700px) and (max-width: 999px) {
  header {
    height: 850px;
  }

  .square2 {
    position: absolute;
    top: 0;
    left: 10%;
    width: 5%;
    height: 270px;
    border-radius: 50%;
  }

  .square {
    display: none;
  }

  .square3 {
    display: none;
  }

  header img {
    margin-left: 16%;
  }

  .header-p {
    font-size: 28px;
    top: 35%;
    right: 15%;
    width: 60%;
  }

  .line {
    width: 0.1%;
    height: 250px;
    right: 79%;
    top: 37%;
  }

  .social {
    right: 65%;
    top: 55%;
  }

  .header-arrow {
    top: 66%;
    right: 42%;
  }

  /*PART1 RESPONSIVE*/
  .part1 {
    padding-top: 2%;
  }
  .textPart1 p {
    padding-top: 7%;
    font-size: 30px;
    width: 70%;
    line-height: 40px;
  }

  .quotation1 {
    left: 5%;
    top: 2%;
  }

  .quotation2 {
    right: 15%;
    top: 60%;
  }

  /*====PART2 RESPONSIVE=====*/
  .part2 {
    height: 1000px;
  }
  .trust h2 {
    text-align: center;
    padding-right: 16%;
  }
  .trust {
    margin-top: 8%;
    margin-right: 39%;
  }
  .tigers {
    display: none;
    height: 0;
    width: 0;
  }
  /*===PART3 RESPONSIVE====*/
  .imgPart3-1 {
    display: none;
  }

  .part3 {
    height: 1090px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .part3 h2 {
    font-size: 35px;
    color: rgb(46, 46, 48);
    font-family: "Roboto", sans-serif;
  }

  .imgPart3 {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-top: 12%;
    padding-left: 5%;
  }
  .textPart3 {
    padding-top: 1%;
    padding-left: 5%;
  }
  .part3 span {
    font-style: bold;
    color: #0d8aff;
  }

  .list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-left: 5%;
    margin-top: 1.7%;
    color: rgb(46, 46, 48);
    font-family: "Roboto", sans-serif;
  }

  .list h3 {
    font-size: 25px;
  }

  .list p {
    font-size: 19px;
  }
  .item1And2 {
    width: 90%;
    padding-left: 5%;
  }

  .item3And4 {
    width: 90%;
    padding-left: 5%;
  }

  /*=========PART4 RESPONSIVE===*/

  .grid {
    background-color: #000000;
    padding-left: 7%;
    width: 100%;
    display: grid;
    padding-top: 5%;
    padding-bottom: 10%;
    height: 400px;
    gap: 10px;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: 210px 210px 10px;
    grid-template-areas:
      "text-grid1 img-grid2 text-grid2"
      "img-grid1 img-grid2 text-grid2"
      "img-grid1 img-grid2 text-grid2";
  }

  .text-grid2 {
    display: none;
  }

  /*========PART5 RESPONSIVE======*/
  .part5 h2 {
    text-align: center;
    text-transform: uppercase;
    font-family: "Fraunces", serif;
    opacity: 0.8;
    font-size: 29px;
    padding-top: 3%;
  }

  .review1 {
    padding-top: 2%;
  }
  .allReview {
    display: flex;
    flex-direction: row;
    height: 1150px;
    margin-top: 5%;

    background-color: white !important;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
  }

  .review {
    margin-left: 0px;
    width: 90%;
    margin-top: 6%;
  }

  .review p {
    text-align: center;
    width: 60%;
  }

  .name-review {
    font-weight: bold;
    padding-top: 8%;
  }

  .review1 {
    padding-top: 2%;
  }

  #reviews h2 {
    font-size: 45px;
    width: 10%;
    padding-left: 10% !important;
    text-align: left !important;
    position: relative;
  }
  .allReview {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    padding-left: 12%;
    font-family: "Barlow", sans-serif;
    font-weight: 400;
  }

  .review p {
    text-align: center;
    width: 80%;
    margin-left: 7%;
    font-size: 18px;
  }

  .name-review {
    font-weight: bold;
    padding-top: 8%;
  }

  .lineReview {
    width: 4%;
    height: 100px;
    top: 6%;
    left: 60%;
  }

  /*FOOTER*/
  .part6 {
    height: 600px;
  }
  .imgPart6 {
    display: flex;
    flex-direction: row;
    width: 60%;
    margin-left: 150px;
  }

  .imgPart6 .imgAnimal {
    width: 180px;
    height: 180px;
  }

  .imgPart6-2 {
    position: absolute;
    bottom: 10%;
    margin-left: 10px;
  }

  .imgPart6-2 p {
    font-size: 15px;
    font-weight: bold;
  }

  .contact1 {
    padding-right: 20%;
    border-right: 2px solid rgb(255, 255, 255);
  }

  .name h5 {
    font-size: 15px;
    padding-left: 8px;
  }
}
